<html>
<head>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
<form action="/answer" method="POST">
  <input id="button_go" value="Ask the Eight Ball" type="submit"/>
</form>
</body>
<script>
  $("#button_go").click(function(event){
    event.preventDefault();
    var promise = $.post('/answer', {
      dataType: 'json'
  });
  promise.done(function(data){
    alert(data.answer);
  });
});
</script>
</html>